body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.circle {
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.main-circle {
    width: 60vmin;
    height: 60vmin;
    background-color: #ddd;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.controls .circle {
    width: 20vmin;
    height: 20vmin;
    background-color: #bbb;
}

@media screen and (max-width: 600px) {
    .controls .circle {
        width: 15vmin;
        height: 15vmin;
    }
}
